key.json
variables.json
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/
*.retry
build.hwm
build.pwd
build.pwi
jdauphant.nginx
vault.key
# Vagrant & molecule
.vagrant/
*.log
*.pyc
.molecule
.cache
.pytest_cache
venv/
__pycache__/
## python specific
*.pyc
.env
hosts.backup
hosts
