cloud_id                 = "dfsdfsdfsdfsdfsdfsdf"
folder_id                = "sdfsdfsdfsdfsdfsdfsdf"
zone                     = "ru-central1-a"
nat_image_id             = "fd80mrhj8fl2oe87o4e1"
gitlab_image_id          = "fd8fof3uuj1salrimk7j"
image_id                 = "fd83bj827tp2slnpp7f0"
public_key_path          = "~/.ssh/id_rsa.pub"
private_key_path         = "~/.ssh/id_rsa"
subnet_id                = "sdfsdfsdfsdfsdfsdfsdf"
network_id               = "sdfsdfsdfsdfsdfsdfsdf"
service_account_key_file = "key.json"
instance_size_master     = "1"
instance_size_node       = "3"
instance_size_bastion    = "1"
ip_bastion               = "11.111.111.111"
ip_loadbalancer          = "22.222.222.222"
